In [54]:
import requests
import bs4
from bs4 import BeautifulSoup, Comment
import pandas as pd
import numpy as np
import datetime
import time

In [3]:
FA_list = pd.read_csv("FA_list_with_bbrefID.csv")

## Web Scraping Stats for Position Players

In [4]:
file_FA = requests.get("https://www.baseball-reference.com/players/{}/{}.shtml".format(FA_list["bbrefID"][0][0], FA_list["bbrefID"][0]))
html_FA = BeautifulSoup(file_FA.text, "html.parser")

In [6]:
# Get colnames 
colname_table = html_FA.findAll("div", class_ = "overthrow table_container")

In [7]:
# Colname
colname = []
for i in range(28):
    colname.append(colname_table[0].select("tr")[0].select("th")[i].get_text())

In [8]:
# Get stats
stats_table = html_FA.findAll("tr", class_ = "full")

In [9]:
# Get year [2,1]
stats_table[0].select("th")[0].get_text()

'2001'

In [320]:
row_list = []
for i in range(len(stats_table)):
    row = [stats_table[i].select("th")[0].get_text()]
    for j in range(27):
        row.append(stats_table[i].select("td")[j].get_text())
    row_list.append(row)
# row_list is a list of rows (stats for one year)

In [321]:
pd.DataFrame(data = row_list, columns = colname)

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,2001,21,STL,NL,161,676,590,112,194,47,...,.403,.610,1.013,157,360,21,9,1,7,6
1,2002,22,STL,NL,157,675,590,118,185,40,...,.394,.561,.955,151,331,20,9,0,4,13
2,2003,23,STL,NL,157,685,591,137,212,51,...,.439,.667,1.106,187,394,13,10,0,5,12
3,2004,24,STL,NL,154,692,592,133,196,51,...,.415,.657,1.072,173,389,21,7,0,9,12
4,2005,25,STL,NL,161,700,591,129,195,38,...,.430,.609,1.039,168,360,19,9,0,3,27
5,2006,26,STL,NL,143,634,535,119,177,33,...,.431,.671,1.102,178,359,20,4,0,3,28
6,2007,27,STL,NL,158,679,565,99,185,38,...,.429,.568,.997,157,321,27,7,0,8,22
7,2008,28,STL,NL,148,641,524,100,187,44,...,.462,.653,1.114,192,342,16,5,0,8,34
8,2009,29,STL,NL,160,700,568,124,186,45,...,.443,.658,1.101,189,374,23,9,0,8,44
9,2010,30,STL,NL,159,700,587,115,183,39,...,.414,.596,1.011,173,350,23,4,0,6,38
10,2011,31,STL,NL,147,651,579,105,173,29,...,.366,.541,.906,148,313,29,4,0,7,15
11,2012,32,LAA,AL,154,670,607,85,173,50,...,.343,.516,.859,138,313,19,5,0,6,16
12,2013,33,LAA,AL,99,443,391,49,101,19,...,.330,.437,.767,116,171,18,5,0,7,8
13,2014,34,LAA,AL,159,695,633,89,172,37,...,.324,.466,.790,126,295,28,5,0,9,11
14,2015,35,LAA,AL,157,661,602,85,147,22,...,.307,.480,.787,118,289,15,6,0,3,10
15,2016,36,LAA,AL,152,650,593,71,159,19,...,.323,.457,.780,113,271,24,2,0,6,6
16,2017,37,LAA,AL,149,636,593,53,143,17,...,.286,.386,.672,80,229,26,2,0,4,5
17,2018,38,LAA,AL,117,498,465,50,114,20,...,.289,.411,.700,91,191,12,2,0,3,3
18,2019,39,LAA,AL,131,545,491,55,120,22,...,.305,.430,.734,94,211,21,3,0,8,1

## Web Scraping Stats for Pitchers

In [472]:
file_FA = requests.get("https://www.baseball-reference.com/players/{}/{}.shtml".format(FA_list["bbrefID"][3][0], FA_list["bbrefID"][3]))
html_FA = BeautifulSoup(file_FA.text, "html.parser")

In [473]:
# Get colnames 
colname_table = html_FA.findAll("div", class_ = "overthrow table_container")

In [475]:
# Colname
colname = []
for i in range(34):
    colname.append(colname_table[0].select("tr")[0].select("th")[i].get_text())

In [476]:
# Get stats
stats_table = html_FA.findAll("tr", class_ = "full")

In [480]:
first_row = [stats_table[0].select("th")[0].get_text()]
for i in range(33):
    first_row.append(stats_table[0].select("td")[i].get_text())

In [481]:
row_list = []
for i in range(len(stats_table)):    # len(stats_table) = how many rows in the dataframe = how many years the players played
    row = [stats_table[i].select("th")[0].get_text()]
    for j in range(33):
        row.append(stats_table[i].select("td")[j].get_text())
    row_list.append(row)

In [494]:
pd.DataFrame(data = row_list, columns = colname)

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,2005,24,TEX,AL,1,7,.125,6.94,24,6,...,4,220,66,4.37,1.688,11.8,0.9,3.4,5.6,1.67
1,2006,25,TEX,AL,2,4,.333,4.06,44,0,...,0,191,114,4.82,1.286,7.9,1.4,3.7,8.7,2.39
2,2007,26,TEX,AL,2,1,.667,3.03,66,0,...,5,285,151,3.87,1.215,6.6,0.5,4.3,8.3,1.91
3,2008,27,TEX,AL,2,2,.500,6.02,50,0,...,3,214,74,5.48,1.640,9.5,1.6,5.2,8.0,1.52
4,2009,28,TEX,AL,5,6,.455,2.81,74,0,...,3,323,166,2.89,1.330,8.1,0.4,3.9,10.3,2.63
5,2010,29,TEX,AL,15,8,.652,3.35,33,33,...,7,850,134,3.56,1.245,7.1,0.4,4.1,7.5,1.83
6,2011,30,TEX,AL,16,7,.696,2.94,34,34,...,6,915,150,3.24,1.187,7.7,0.6,3.0,8.3,2.78
7,2012,31,LAA,AL,13,10,.565,3.83,34,34,...,4,865,100,4.04,1.344,8.1,0.8,4.0,7.7,1.90
8,2013,32,LAA,AL,17,7,.708,3.39,33,33,...,14,913,111,3.51,1.342,8.5,0.6,3.6,8.0,2.21
9,2014,33,LAA,AL,13,10,.565,4.51,31,31,...,9,761,80,4.31,1.446,8.7,0.9,4.4,7.7,1.78
10,2015,34,LAA,AL,8,8,.500,3.89,21,21,...,11,553,97,4.02,1.242,8.0,0.9,3.1,7.5,2.39

## Loop to get list of dataframes

Make sure that all the bbrefID are correct:

In [4]:
# Check if all response are 200 
response_list = []
for i in range(len(FA_list)):
    file_FA = requests.get("https://www.baseball-reference.com/players/{}/{}.shtml".format(FA_list["bbrefID"][i][0], FA_list["bbrefID"][i]))
    response_list.append(file_FA)
response_num_list = []
for i in range(len(response_list)):
    response_num = response_list[i].status_code
    response_num_list.append(response_num)
np.unique(response_num_list)

array([200])

In [5]:
FA_stats = []
for i in range(len(FA_list)):
    if FA_list["Position"][i] in ["SP", "RP"]:
        file_FA = requests.get("https://www.baseball-reference.com/players/{}/{}.shtml".format(FA_list["bbrefID"][i][0], FA_list["bbrefID"][i]))
        html_FA = BeautifulSoup(file_FA.text, "html.parser")
        colname_table = html_FA.findAll("div", class_ = "overthrow table_container")
        stats_table = html_FA.findAll("tr", class_ = "full")
        colname = []
        for i in range(34):
            colname.append(colname_table[0].select("tr")[0].select("th")[i].get_text())
        first_row = [stats_table[0].select("th")[0].get_text()]
        for i in range(33):
            first_row.append(stats_table[0].select("td")[i].get_text())
        row_list = []
        for i in range(len(stats_table)):
            row = [stats_table[i].select("th")[0].get_text()]
            for j in range(33):
                row.append(stats_table[i].select("td")[j].get_text())
            row_list.append(row)
        df = pd.DataFrame(data = row_list, columns = colname)
        df[df.columns.drop(["Tm","Lg"])] = df[df.columns.drop(["Tm","Lg"])].apply(pd.to_numeric)
        # Make all columns except for Tm and Lg numeric 
    else:
        file_FA = requests.get("https://www.baseball-reference.com/players/{}/{}.shtml".format(FA_list["bbrefID"][i][0], FA_list["bbrefID"][i]))
        html_FA = BeautifulSoup(file_FA.text, "html.parser")
        colname_table = html_FA.findAll("div", class_ = "overthrow table_container")
        stats_table = html_FA.findAll("tr", class_ = "full")
        colname = []
        for i in range(28):
            colname.append(colname_table[0].select("tr")[0].select("th")[i].get_text())
        row_list = []
        for i in range(len(stats_table)):
            row = [stats_table[i].select("th")[0].get_text()]
            for j in range(27):
                row.append(stats_table[i].select("td")[j].get_text())
            row_list.append(row)
        df = pd.DataFrame(data = row_list, columns = colname)
        df[df.columns.drop(["Tm","Lg"])] = df[df.columns.drop(["Tm","Lg"])].apply(pd.to_numeric)
    FA_stats.append(df)

In [6]:
# add bbrefID
for i in range(len(FA_stats)):
    FA_stats[i]["bbrefID"] = FA_list["bbrefID"][i]

In [7]:
FA_stats_batter = []                           # A list of FA batter stats
FA_stats_pitcher = []                          # A list of FA pitcher stats
for i in range(len(FA_stats)):
    if FA_stats[i].shape[1] == 29:
        FA_stats_batter.append(FA_stats[i])
    elif FA_stats[i].shape[1] == 35:
        FA_stats_pitcher.append(FA_stats[i])

In [8]:
FA_df_batter_stats = pd.DataFrame(columns=FA_stats[0].columns)
FA_df_pitcher_stats = pd.DataFrame(columns=FA_stats[3].columns)
for i in range(len(FA_stats)):
    if FA_stats[i].shape[1] == 29:
        FA_df_batter_stats = FA_df_batter_stats.append(FA_stats[i])
    elif FA_stats[i].shape[1] == 35:
        FA_df_pitcher_stats = FA_df_pitcher_stats.append(FA_stats[i])

Output FA_pitcher_stats and FA_batter_stats so there is no need to run loop to get stats

In [149]:
FA_df_batter_stats.to_csv("FA_batter_stats.csv", index = False)
FA_df_pitcher_stats.to_csv("FA_pitcher_stats.csv", index = False)

## Fix Age in FA_list

In [ ]:
FA_df_batter_stats = pd.read_csv("FA_batter_stats.csv")
FA_df_pitcher_stats = pd.read_csv("FA_pitcher_stats.csv")

In [9]:
df_batter = FA_df_batter_stats
df_batter["BirthYear"] = df_batter["Year"]-df_batter["Age"]
df_pitcher = FA_df_pitcher_stats
df_pitcher["BirthYear"] = df_pitcher["Year"]-df_pitcher["Age"]
df_batter = df_batter.loc[:, ["bbrefID", "BirthYear"]].drop_duplicates()
df_pitcher = df_pitcher.loc[:, ["bbrefID", "BirthYear"]].drop_duplicates()
df = df_batter.append(df_pitcher)
df

      bbrefID BirthYear
0   pujolal01      1980
0   fieldpr01      1984
0   reyesjo01      1983
0   ramirar01      1978
0   cuddymi01      1979
..        ...       ...
0   winklda01      1990
0   hildetr01      1991
0   olsonty01      1990
0   mchugco01      1987
0    hahnje01      1990

[723 rows x 2 columns]

In [10]:
len(FA_list["bbrefID"].unique())

723

In [11]:
FA_list_age = pd.merge(FA_list, df, on = "bbrefID", how = "left")
FA_list_age["Age"] = FA_list_age["FA_year"] - FA_list_age["BirthYear"]
FA_list_age

,Name,Position,Age,From,To,Years,Dollars,Average_Salary,FA_year,bbrefID,BirthYear
0,Albert Pujols,DH,32,STL,LAA,10,240000000,24000000,2012,pujolal01,1980
1,Prince Fielder,DH,28,MIL,DET,9,214000000,23777778,2012,fieldpr01,1984
2,Jose Reyes,SS,29,NYM,MIA,6,106000000,17666667,2012,reyesjo01,1983
3,C.J. Wilson,SP,31,TEX,LAA,5,77500000,15500000,2012,wilsocj01,1981
4,Mark Buehrle,SP,33,CHW,MIA,4,58000000,14500000,2012,buehrma01,1979
...,...,...,...,...,...,...,...,...,...,...,...
1112,Dustin Garneau,C,32,OAK,HOU,1,650000,650000,2020,garnedu01,1988
1113,Collin McHugh,SP,33,HOU,BOS,1,600000,600000,2020,mchugco01,1987
1114,Jesse Hahn,RP,30,KC,KC,1,600000,600000,2020,hahnje01,1990
1115,Luke Maile,C,29,TOR,PIT,1,583500,583500,2020,mailelu01,1991
1116,Wei-Yin Chen,RP,34,MIA,SEA,1,563500,563500,2020,chenwe02,1986

In [12]:
FA_list["Age"] = FA_list_age["Age"]

In [13]:
FA_df_batter = FA_list[~FA_list["Position"].isin(["RP", "SP"])]     # A dataframe of FA signing for batter$
# FA_df_batter = FA_df_batter.reset_index(drop = True) 
FA_df_pitcher = FA_list[FA_list["Position"].isin(["RP", "SP"])]     # A dataframe of FA signing for batter
# FA_df_pitcher = FA_df_pitcher.reset_index(drop = True)

## Append previous year stats to FA_df_batter

In [108]:
# To serve as key to Join dataframes
FA_df_batter["Age_M1"] = FA_df_batter["Age"]-1

C:\Users\iamia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [109]:
# Get the previous year stats, ideally whould be the same shape as FA_df_batter
Prev_record_batter = pd.DataFrame(columns = FA_stats[0].columns)
for i in FA_df_batter.index:
    Prev_record_batter = Prev_record_batter.append(FA_stats[i][FA_stats[i]["Year"] == FA_df_batter["FA_year"][i]-1], ignore_index = True)

In [124]:
# Left join Prev_record_batter to FA_df_batter
batter_final = pd.merge(FA_df_batter, Prev_record_batter, left_on=["bbrefID", "Age_M1"], right_on=["bbrefID", "Age"], how='left', suffixes = ("", "_prev"))

In [125]:
# Check the NAs 
# Two reasons that we don't have the right hand side: 
# 1) The Age does not fit 
# 2) Did not play in the MLB in the previous year
batter_final[batter_final["Year"].isna()]

,Name,Position,Age,From,To,Years,Dollars,Average_Salary,FA_year,bbrefID,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
118,Miguel Tejada,2B,39,BAL,KC,1,1100000,1100000,2013,tejadmi01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,Corey Hart,RF,32,MIL,SEA,1,6000000,6000000,2014,hartco01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,Rafael Furcal,SS,36,STL,MIA,1,3500000,3500000,2014,furcara02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Chone Figgins,3B,36,MIA,LAD,1,900000,900000,2014,figgich01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Xavier Nady,1B,35,COL,SD,1,775000,775000,2014,nadyxa01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Grady Sizemore,RF,31,CLE,BOS,1,750000,750000,2014,sizemgr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,Ryan Kalish,LF,26,BOS,CHC,1,550000,550000,2014,kalisry01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,Roger Bernadina,LF,32,COL,NYM,1,750000,750000,2016,bernaro01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,Carlos Quentin,LF,33,SEA,MIN,1,750000,750000,2016,quentca01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
454,Troy Tulowitzki,SS,34,TOR,NYY,1,555000,555000,2019,tulowtr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,Brandon Guyer,LF,34,CHW,SF,1,1000000,1000000,2020,guyerbr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,Emilio Bonifacio,CF,35,TB,WSH,1,1000000,1000000,2020,bonifem01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
515,Steven Souza,RF,31,ARI,CHC,1,1000000,1000000,2020,souzast01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are 13 batters that do not have previous year record. 
Fix Manually

In [126]:
# Get the bbrefID for players missing stats on the right hand side
NA_id_batter = batter_final[batter_final["Year"].isna()]["bbrefID"]
NA_id_batter = NA_id_batter.reset_index(drop = True)
# Get the year for players missing stats on the right hand side
NA_id_batter_year = batter_final[batter_final["Year"].isna()]["FA_year"]
NA_id_batter_year = NA_id_batter_year.reset_index(drop = True)

In [127]:
# The dataframe of stats for batters missing stats on the right hand side
# Get the -2 year stats
NA_id_batter_df = pd.DataFrame(columns = FA_df_batter_stats.columns)
for i in range(len(NA_id_batter_year)):
    NA_id_batter_df = NA_id_batter_df.append(FA_df_batter_stats.loc[(FA_df_batter_stats["bbrefID"] == NA_id_batter[i]) & (FA_df_batter_stats["Year"] == (NA_id_batter_year[i]-2))].drop_duplicates())

In [128]:
# Grady Sizemore and Emilio Bonifacio has not played in the Majors for 2 years, get the stats from 3 years ago
# Get Grady Sizemore previous year stats 
NA_id_batter_df = NA_id_batter_df.append(FA_df_batter_stats.loc[(FA_df_batter_stats["bbrefID"] == NA_id_batter[5]) & (FA_df_batter_stats["Year"] == (NA_id_batter_year[5]-3))].drop_duplicates())
# Get Emilio Bonifacio previous year stats 
NA_id_batter_df = NA_id_batter_df.append(FA_df_batter_stats.loc[(FA_df_batter_stats["bbrefID"] == NA_id_batter[11]) & (FA_df_batter_stats["Year"] == (NA_id_batter_year[11]-3))].drop_duplicates())
# Reindex 
NA_id_batter_df.index = [119, 161, 168, 191, 198, 203, 320, 321, 455, 513, 516, 198, 515]
# Reorder by index
NA_id_batter_df = NA_id_batter_df.sort_index()

In [129]:
# Put the values back in batter_final
NA_batter_index = batter_final[batter_final["Year"].isna()].index # so it won't change during the loop 
for i in range(13): # row  
    for j in range(batter_final[batter_final["Year"].isna()].shape[1]-11): # column 
        batter_final.iloc[NA_batter_index[i],j+11] = NA_id_batter_df.iloc[i,j]

In [37]:
batter_final.to_csv("batter_final.csv", index = False)

## Append previous year stats to FA_df_pitcher

In [14]:
# To serve as key to Join dataframes
FA_df_pitcher["Age_M1"] = FA_df_pitcher.loc[:, "Age"]-1

C:\Users\iamia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
# Get the previous year stats, ideally whould be the same shape as FA_df_batter
Prev_record_pitcher = pd.DataFrame(columns = FA_stats[3].columns)
for i in FA_df_pitcher.index:
    Prev_record_pitcher = Prev_record_pitcher.append(FA_stats[i][FA_stats[i]["Year"] == FA_df_pitcher["FA_year"][i]-1], ignore_index = True)

In [16]:
# Left join Prev_record_batter to FA_df_pitcher
pitcher_final = pd.merge(FA_df_pitcher, Prev_record_pitcher, left_on=["bbrefID", "Age_M1"], right_on=["bbrefID", "Age"], how='left', suffixes = ("", "_prev"))

In [17]:
pitcher_na = pitcher_final[pitcher_final["Year"].isnull()]

,Name,Position,Age,From,To,Years,Dollars,Average_Salary,FA_year,bbrefID,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
35,David Aardsma,RP,30,SEA,NYY,1,500000,500000,2012,aardsda01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Joakim Soria,RP,29,KC,TEX,2,8000000,4000000,2013,soriajo01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Scott Baker,SP,31,MIN,CHC,1,5500000,5500000,2013,bakersc02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Ryan Madson,RP,32,CIN,LAA,1,3500000,3500000,2013,madsory01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Rich Harden,SP,31,OAK,MIN,1,1000000,1000000,2013,harderi01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Kevin Slowey,RP,29,CLE,MIA,1,750000,750000,2013,sloweke01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,John Maine,SP,32,BOS,MIA,1,625000,625000,2013,mainejo01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Jon Garland,SP,33,SEA,COL,1,500000,500000,2013,garlajo01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Juan Carlos Oviedo,RP,31,MIA,TB,1,490000,490000,2013,nunezle01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Johan Santana,SP,35,NYM,BAL,1,8050000,8050000,2014,santajo02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,Colby Lewis,SP,34,TEX,TEX,1,2000000,2000000,2014,lewisco01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,Felipe Paulino,SP,30,KC,CHW,1,1750000,1750000,2014,paulife01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Juan Carlos Oviedo,RP,32,TB,TB,1,1500000,1500000,2014,nunezle01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,Randy Wolf,SP,37,SEA,NYM,1,1000000,1000000,2014,wolfra02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,Daniel Hudson,RP,27,ARI,ARI,1,700000,700000,2014,hudsoda01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Luke Hochevar,RP,31,KC,KC,2,10000000,5000000,2015,hochelu01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,Kris Medlen,SP,29,ATL,KC,2,8500000,4250000,2015,medlekr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,Brandon Beachy,SP,28,ATL,LAD,1,2750000,2750000,2015,beachbr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Johan Santana,SP,36,BAL,TOR,1,2500000,2500000,2015,santajo02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Chad Billingsley,SP,30,LAD,PHI,1,1500000,1500000,2015,billich01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,Rafael Betancourt,RP,40,COL,COL,1,1000000,1000000,2015,betanra01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Josh Johnson,SP,31,SD,SD,1,1000000,1000000,2015,johnsjo09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,Shaun Marcum,SP,33,CLE,CLE,1,1000000,1000000,2015,marcush01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Pedro Feliciano,RP,38,STL,CHC,1,700000,700000,2015,felicpe01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,Mike Minor,SP,28,ATL,KC,2,7250000,3625000,2016,minormi01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,Bronson Arroyo,SP,39,LAD,WSH,1,2000000,2000000,2016,arroybr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,Chien-Ming Wang,RP,36,ATL,KC,1,1000000,1000000,2016,wangch01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,Blake Wood,RP,30,PIT,CIN,1,600000,600000,2016,woodbl01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,Ryan Buchter,RP,29,LAD,SD,1,520000,520000,2016,buchtry01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,Zach Phillips,RP,29,CHW,BAL,1,510000,510000,2016,phillza01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,Maikel Cleto,RP,27,CHW,ATL,1,507500,507500,2016,cletoma01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,A.J. Griffin,RP,28,OAK,TEX,1,507500,507500,2016,griffaj01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,Greg Holland,RP,31,KC,COL,1,7000000,7000000,2017,hollagr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,Jacob Lindgren,RP,24,NYY,ATL,1,1025000,1025000,2017,lindgja01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,Drew Smyly,SP,29,SEA,CHC,2,10000000,5000000,2018,smylydr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,David Phelps,RP,32,SEA,TOR,1,2500000,2500000,2019,phelpda01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,Nate Karns,SP,31,KC,BAL,1,800000,800000,2019,karnsna01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,Josh Lindblom,SP,33,PIT,MIL,3,9125000,3041667,2020,lindbjo01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
559,Kendall Graveman,SP,29,CHC,SEA,1,2000000,2000000,2020,graveke01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,Brandon Morrow,RP,35,CHC,CHC,1,1000000,1000000,2020,morrobr01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
p_na_index = pitcher_na.index
p_na_year = pitcher_na.loc[pitcher_na.index, "FA_year"].to_list()
p_na_id = pitcher_na.loc[pitcher_na.index, "bbrefID"].to_list()
p_na_df = pd.DataFrame(columns = FA_df_pitcher_stats.columns)
for i in range(len(p_na_index)):
    if FA_df_pitcher_stats.loc[((FA_df_pitcher_stats["bbrefID"] == p_na_id[i]) & (FA_df_pitcher_stats["Year"] == p_na_year[i]-2)),:].drop_duplicates().shape[0] != 0:
        p_na_df = p_na_df.append(FA_df_pitcher_stats.loc[((FA_df_pitcher_stats["bbrefID"] == p_na_id[i]) & (FA_df_pitcher_stats["Year"] == p_na_year[i]-2)),:].drop_duplicates())
    elif FA_df_pitcher_stats.loc[((FA_df_pitcher_stats["bbrefID"] == p_na_id[i]) & (FA_df_pitcher_stats["Year"] == p_na_year[i]-3)),:].drop_duplicates().shape[0] != 0:
        p_na_df = p_na_df.append(FA_df_pitcher_stats.loc[((FA_df_pitcher_stats["bbrefID"] == p_na_id[i]) & (FA_df_pitcher_stats["Year"] == p_na_year[i]-3)),:].drop_duplicates())
    elif FA_df_pitcher_stats.loc[((FA_df_pitcher_stats["bbrefID"] == p_na_id[i]) & (FA_df_pitcher_stats["Year"] == p_na_year[i]-4)),:].drop_duplicates().shape[0] != 0:
        p_na_df = p_na_df.append(FA_df_pitcher_stats.loc[((FA_df_pitcher_stats["bbrefID"] == p_na_id[i]) & (FA_df_pitcher_stats["Year"] == p_na_year[i]-3)),:].drop_duplicates())

In [20]:
for i in range(p_na_df.shape[0]):                     # row
    for j in range(p_na_df.shape[1]-11):              # column 
        pitcher_final.iloc[p_na_index[i],j+11] = p_na_df.iloc[i,j]

In [35]:
pitcher_final.to_csv("pitcher_final.csv")

## Append Accumlated stats to batter final

In [40]:
batter_final["bbrefID"].to_list()[0]

'pujolal01'

In [41]:
batter_final["FA_year"].to_list()[0]

2012

In [183]:
pre_FA_stats = FA_df_batter_stats.loc[(FA_df_batter_stats["bbrefID"] == batter_final["bbrefID"].to_list()[5]) & (FA_df_batter_stats["Year"]<batter_final["FA_year"].to_list()[5]), :].drop_duplicates()
pre_FA_stats

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,bbrefID,BirthYear
0,1998,21,KCR,AL,14,63,58,12,16,5,...,0.783,100,27,2,1,0,1,0,beltrca01,1977
1,1999,22,KCR,AL,156,723,663,112,194,27,...,0.791,99,301,17,4,0,10,2,beltrca01,1977
2,2000,23,KCR,AL,98,413,372,49,92,15,...,0.675,69,136,12,0,2,4,2,beltrca01,1977
3,2001,24,KCR,AL,155,680,617,106,189,32,...,0.876,123,317,7,5,1,5,2,beltrca01,1977
4,2002,25,KCR,AL,162,722,637,114,174,44,...,0.847,114,319,12,4,3,7,1,beltrca01,1977
5,2003,26,KCR,AL,141,602,521,102,160,14,...,0.911,132,272,8,2,0,7,4,beltrca01,1977
6,2004,27,TOT,MLB,159,708,599,121,160,36,...,0.915,133,328,8,7,3,7,10,beltrca01,1977
7,2005,28,NYM,NL,151,650,582,83,155,34,...,0.744,97,241,9,2,4,6,5,beltrca01,1977
8,2006,29,NYM,NL,140,617,510,127,140,38,...,0.982,150,303,6,4,1,7,6,beltrca01,1977
9,2007,30,NYM,NL,144,636,554,93,153,33,...,0.878,125,291,8,2,1,10,10,beltrca01,1977
10,2008,31,NYM,NL,161,706,606,116,172,40,...,0.876,130,303,11,1,1,6,13,beltrca01,1977
11,2009,32,NYM,NL,81,357,308,50,100,22,...,0.915,144,154,9,1,0,1,10,beltrca01,1977
12,2010,33,NYM,NL,64,255,220,21,56,11,...,0.768,109,94,4,1,0,4,5,beltrca01,1977
13,2011,34,TOT,NL,142,598,520,78,156,39,...,0.910,154,273,18,3,0,4,7,beltrca01,1977

In [117]:
pre_FA_stats_acc = pre_FA_stats.iloc[:, 4:27].sum(axis=0)
pre_FA_stats_acc_df = pd.DataFrame(data = pre_FA_stats_acc.to_dict(), index = [0])
pre_FA_stats_acc_df["FA_year"] = batter_final["FA_year"].to_list()[0]
pre_FA_stats_acc_df["1B_accum"] = pre_FA_stats_acc_df["H"] - pre_FA_stats_acc_df["2B"] - pre_FA_stats_acc_df["3B"] - pre_FA_stats_acc_df["HR"]
pre_FA_stats_acc_df["BA"] =  pre_FA_stats_acc_df["H"] / pre_FA_stats_acc_df["AB"]
pre_FA_stats_acc_df["OBP"] = (pre_FA_stats_acc_df["H"] + pre_FA_stats_acc_df["BB"] + pre_FA_stats_acc_df["HBP"]) / (pre_FA_stats_acc_df["AB"] + pre_FA_stats_acc_df["BB"] + pre_FA_stats_acc_df["HBP"] + pre_FA_stats_acc_df["SF"]) 
pre_FA_stats_acc_df["SLG"] = (pre_FA_stats_acc_df["1B_accum"] + 2*pre_FA_stats_acc_df["2B"] + 3*pre_FA_stats_acc_df["3B"] + 4*pre_FA_stats_acc_df["HR"])/ pre_FA_stats_acc_df["AB"]
pre_FA_stats_acc_df["OPS"] = pre_FA_stats_acc_df["OBP"] + pre_FA_stats_acc_df["SLG"]
pre_FA_stats_acc_df["bbrefID"] = batter_final["bbrefID"].to_list()[0]
pre_FA_stats_acc_df = pre_FA_stats_acc_df.drop("OPS+", axis = 1)
pre_FA_stats_acc_df

,G,PA,AB,R,H,2B,3B,HR,RBI,SB,...,SLG,OPS,TB,GDP,HBP,SH,SF,FA_year,1B_accum,bbrefID
0,215.0,657.0,605.0,53.0,120.0,30.0,2.0,10.0,60.0,4.0,...,0.304132,0.555666,184.0,12.0,4.0,5.0,3.0,2012,78.0,pujolal01

In [118]:
pre_FA_stats_acc_dff = pre_FA_stats_acc_df

BA = H/AB    <br>
OBP = (Hits + Walks + Hit by Pitch) / (At Bats + Walks + Hit by Pitch + Sacrifice Flies) (baseball reference)   <br>
SLG = (Singles + Doubles x 2 + Triples x 3 + Home Runs x 4)/At Bats   <br>
OPS = OBP + SLG   <br>
Drop OPS+ because it's unattainable    <br>

In [84]:
pre_FA_stats_acc_df["OPS+"]/11

0    170.272727
Name: OPS+, dtype: float64

In [86]:
pre_FA_stats_acc_df.drop("OPS+", axis = 1)

,G,PA,AB,R,H,2B,3B,HR,RBI,SB,...,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,1B,bbrefID
0,1705.0,7433.0,6312.0,1291.0,2073.0,455.0,15.0,445.0,1329.0,84.0,...,0.420479,0.616762,1.037241,3893.0,232.0,77.0,1.0,68.0,1158.0,pujolal01

In [184]:
batter_accu_stats = pd.DataFrame(columns = pre_FA_stats_acc_dff.columns)
for i in range(len(batter_final)):
    pre_FA_stats = FA_df_batter_stats.loc[(FA_df_batter_stats["bbrefID"] == batter_final["bbrefID"].to_list()[i]) & (FA_df_batter_stats["Year"]<batter_final["FA_year"].to_list()[i]), :].drop_duplicates()
    pre_FA_stats_acc = pre_FA_stats.iloc[:, 4:27].sum(axis=0)
    pre_FA_stats_acc_df = pd.DataFrame(data = pre_FA_stats_acc.to_dict(), index = [0])
    pre_FA_stats_acc_df["FA_year"] = batter_final["FA_year"].to_list()[i]
    pre_FA_stats_acc_df["1B_accum"] = pre_FA_stats_acc_df["H"] - pre_FA_stats_acc_df["2B"] - pre_FA_stats_acc_df["3B"] - pre_FA_stats_acc_df["HR"]
    pre_FA_stats_acc_df["BA"] =  pre_FA_stats_acc_df["H"] / pre_FA_stats_acc_df["AB"]
    pre_FA_stats_acc_df["OBP"] = (pre_FA_stats_acc_df["H"] + pre_FA_stats_acc_df["BB"] + pre_FA_stats_acc_df["HBP"]) / (pre_FA_stats_acc_df["AB"] + pre_FA_stats_acc_df["BB"] + pre_FA_stats_acc_df["HBP"] + pre_FA_stats_acc_df["SF"]) 
    pre_FA_stats_acc_df["SLG"] = (pre_FA_stats_acc_df["1B_accum"] + 2*pre_FA_stats_acc_df["2B"] + 3*pre_FA_stats_acc_df["3B"] + 4*pre_FA_stats_acc_df["HR"])/ pre_FA_stats_acc_df["AB"]
    pre_FA_stats_acc_df["OPS"] = pre_FA_stats_acc_df["OBP"] + pre_FA_stats_acc_df["SLG"]
    pre_FA_stats_acc_df["bbrefID"] = batter_final["bbrefID"].to_list()[i]
    pre_FA_stats_acc_df = pre_FA_stats_acc_df.drop("OPS+", axis = 1)
    batter_accu_stats = batter_accu_stats.append(pre_FA_stats_acc_df)

In [185]:
batter_accu_stats = batter_accu_stats.round({"BA":3, "OBP":3, "SLG":3, "OPS":3})

In [186]:
batter_final_df = batter_final.merge(batter_accu_stats, on = ["bbrefID", "FA_year"], suffixes=('', '_accum'))

In [188]:
batter_final_df.to_csv("batter_final_df.csv", index = False)

In [177]:
FA_df_batter_stats.loc[(FA_df_batter_stats["bbrefID"] == batter_final["bbrefID"].to_list()[5]) & (FA_df_batter_stats["Year"]<batter_final["FA_year"].to_list()[5]), :].drop_duplicates()

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,bbrefID,BirthYear
0,1998,21,KCR,AL,14,63,58,12,16,5,...,0.783,100,27,2,1,0,1,0,beltrca01,1977
1,1999,22,KCR,AL,156,723,663,112,194,27,...,0.791,99,301,17,4,0,10,2,beltrca01,1977
2,2000,23,KCR,AL,98,413,372,49,92,15,...,0.675,69,136,12,0,2,4,2,beltrca01,1977
3,2001,24,KCR,AL,155,680,617,106,189,32,...,0.876,123,317,7,5,1,5,2,beltrca01,1977
4,2002,25,KCR,AL,162,722,637,114,174,44,...,0.847,114,319,12,4,3,7,1,beltrca01,1977
5,2003,26,KCR,AL,141,602,521,102,160,14,...,0.911,132,272,8,2,0,7,4,beltrca01,1977
6,2004,27,TOT,MLB,159,708,599,121,160,36,...,0.915,133,328,8,7,3,7,10,beltrca01,1977
7,2005,28,NYM,NL,151,650,582,83,155,34,...,0.744,97,241,9,2,4,6,5,beltrca01,1977
8,2006,29,NYM,NL,140,617,510,127,140,38,...,0.982,150,303,6,4,1,7,6,beltrca01,1977
9,2007,30,NYM,NL,144,636,554,93,153,33,...,0.878,125,291,8,2,1,10,10,beltrca01,1977
10,2008,31,NYM,NL,161,706,606,116,172,40,...,0.876,130,303,11,1,1,6,13,beltrca01,1977
11,2009,32,NYM,NL,81,357,308,50,100,22,...,0.915,144,154,9,1,0,1,10,beltrca01,1977
12,2010,33,NYM,NL,64,255,220,21,56,11,...,0.768,109,94,4,1,0,4,5,beltrca01,1977
13,2011,34,TOT,NL,142,598,520,78,156,39,...,0.910,154,273,18,3,0,4,7,beltrca01,1977

## Append Accumlated stats to pitcher final

In [140]:
pitcher_final["bbrefID"].to_list()[0]

'wilsocj01'

In [141]:
pitcher_final["FA_year"].to_list()[0]

2012

In [142]:
pre_FA_stats_p = FA_df_pitcher_stats.loc[(FA_df_pitcher_stats["bbrefID"] == pitcher_final["bbrefID"].to_list()[0]) & (FA_df_pitcher_stats["Year"]<pitcher_final["FA_year"].to_list()[0]), :]

In [157]:
type(pre_FA_stats_p.iloc[:, 4:34].sum(axis=0))

pandas.core.series.Series

In [155]:
pre_FA_stats_acc_df_p = pre_FA_stats_p.iloc[:, 4:34].sum(axis=0)

In [162]:
pre_FA_stats_acc_df_p = pre_FA_stats_p.iloc[:, 4:34].sum(axis=0)
pre_FA_stats_acc_df_p["FA_year"] = pitcher_final["FA_year"].to_list()[0]
pre_FA_stats_acc_df_p["W-L%"] = pre_FA_stats_acc_df_p["W"] / (pre_FA_stats_acc_df_p["W"] + pre_FA_stats_acc_df_p["L"])
pre_FA_stats_acc_df_p["ERA"] = pre_FA_stats_acc_df_p["ER"] / (pre_FA_stats_acc_df_p["IP"] / 9) 
pre_FA_stats_acc_df_p["WHIP"] = (pre_FA_stats_acc_df_p["BB"] + pre_FA_stats_acc_df_p["H"]) / pre_FA_stats_acc_df_p["IP"]
pre_FA_stats_acc_df_p["H9"] = pre_FA_stats_acc_df_p["H"] / (pre_FA_stats_acc_df_p["IP"] / 9)
pre_FA_stats_acc_df_p["HR9"] = pre_FA_stats_acc_df_p["HR"] / (pre_FA_stats_acc_df_p["IP"] / 9)
pre_FA_stats_acc_df_p["BB9"] = pre_FA_stats_acc_df_p["BB"] / (pre_FA_stats_acc_df_p["IP"] / 9)
pre_FA_stats_acc_df_p["SO9"] = pre_FA_stats_acc_df_p["SO"] / (pre_FA_stats_acc_df_p["IP"] / 9)
pre_FA_stats_acc_df_p["SO/W"] = pre_FA_stats_acc_df_p["SO"] / pre_FA_stats_acc_df_p["BB"]   
pre_FA_stats_acc_df_p = pre_FA_stats_acc_df_p.drop(["ERA+", "FIP"])
pre_FA_stats_acc_df_p["bbrefID"] = pitcher_final["bbrefID"].to_list()[0]
pre_FA_stats_acc_df_p = pd.DataFrame(data = pre_FA_stats_acc_df_p.to_dict(), index = [0])
pre_FA_stats_acc_df_p

,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,...,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W,FA_year,bbrefID
0,43.0,35.0,0.551282,3.604585,325.0,73.0,110.0,6.0,1.0,52.0,...,28.0,2998.0,1.293518,7.884234,0.675064,3.75743,8.113501,2.159322,2012.0,wilsocj01

In [163]:
pre_FA_stats_acc_df_pp = pre_FA_stats_acc_df_p

In [189]:
pitcher_accu_stats = pd.DataFrame(columns = pre_FA_stats_acc_df_pp.columns)
for i in range(len(pitcher_final)):
    pre_FA_stats_p = FA_df_pitcher_stats.loc[(FA_df_pitcher_stats["bbrefID"] == pitcher_final["bbrefID"].to_list()[i]) & (FA_df_pitcher_stats["Year"]<pitcher_final["FA_year"].to_list()[i]), :].drop_duplicates()
    pre_FA_stats_acc_df_p = pre_FA_stats_p.iloc[:, 4:34].sum(axis=0)
    pre_FA_stats_acc_df_p["FA_year"] = pitcher_final["FA_year"].to_list()[i]
    pre_FA_stats_acc_df_p["W-L%"] = pre_FA_stats_acc_df_p["W"] / (pre_FA_stats_acc_df_p["W"] + pre_FA_stats_acc_df_p["L"])
    pre_FA_stats_acc_df_p["ERA"] = pre_FA_stats_acc_df_p["ER"] / (pre_FA_stats_acc_df_p["IP"] / 9) 
    pre_FA_stats_acc_df_p["WHIP"] = (pre_FA_stats_acc_df_p["BB"] + pre_FA_stats_acc_df_p["H"]) / pre_FA_stats_acc_df_p["IP"]
    pre_FA_stats_acc_df_p["H9"] = pre_FA_stats_acc_df_p["H"] / (pre_FA_stats_acc_df_p["IP"] / 9)
    pre_FA_stats_acc_df_p["HR9"] = pre_FA_stats_acc_df_p["HR"] / (pre_FA_stats_acc_df_p["IP"] / 9)
    pre_FA_stats_acc_df_p["BB9"] = pre_FA_stats_acc_df_p["BB"] / (pre_FA_stats_acc_df_p["IP"] / 9)
    pre_FA_stats_acc_df_p["SO9"] = pre_FA_stats_acc_df_p["SO"] / (pre_FA_stats_acc_df_p["IP"] / 9)
    pre_FA_stats_acc_df_p["SO/W"] = pre_FA_stats_acc_df_p["SO"] / pre_FA_stats_acc_df_p["BB"]
    pre_FA_stats_acc_df_p["bbrefID"] = pitcher_final["bbrefID"].to_list()[i]
    pre_FA_stats_acc_df_p = pre_FA_stats_acc_df_p.drop(["ERA+", "FIP"])
    pre_FA_stats_acc_df_p = pd.DataFrame(data = pre_FA_stats_acc_df_p.to_dict(), index = [0])
    pitcher_accu_stats = pitcher_accu_stats.append(pre_FA_stats_acc_df_p)

C:\Users\iamia\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in double_scalars

In [190]:
pitcher_accu_stats = pitcher_accu_stats.round({"W-L%": 3, "ERA":2, "WHIP": 3, "H9":1, "HR9":1, "BB9":1, "SO9":1, "SO/W":2})

In [191]:
pitcher_final_df = pitcher_final.merge(pitcher_accu_stats, on = ["bbrefID", "FA_year"], suffixes=('', '_accum'))

In [192]:
pitcher_final_df

,Name,Position,Age,From,To,Years,Dollars,Average_Salary,FA_year,bbrefID,...,HBP_accum,BK_accum,WP_accum,BF_accum,WHIP_accum,H9_accum,HR9_accum,BB9_accum,SO9_accum,SO/W_accum
0,C.J. Wilson,SP,31,TEX,LAA,5,77500000,15500000,2012,wilsocj01,...,41.0,2.0,28.0,2998.0,1.294,7.9,0.7,3.8,8.1,2.16
1,Mark Buehrle,SP,33,CHW,MIA,4,58000000,14500000,2012,buehrma01,...,55.0,15.0,21.0,10317.0,1.283,9.5,1.0,2.1,5.1,2.48
2,Jonathan Papelbon,RP,31,BOS,PHI,4,50000000,12500000,2012,papeljo01,...,17.0,0.0,10.0,1729.0,1.020,6.8,0.7,2.4,10.7,4.43
3,Heath Bell,RP,34,SD,MIA,3,27000000,9000000,2012,bellhe01,...,7.0,1.0,20.0,1974.0,1.202,7.8,0.6,3.0,9.3,3.07
4,Aaron Harang,SP,34,SD,LAD,2,12000000,6000000,2012,haranaa01,...,46.0,3.0,55.0,6939.0,1.350,9.6,1.2,2.6,7.4,2.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,Trevor Hildenberger,RP,29,MIN,BOS,1,700000,700000,2020,hildetr01,...,9.0,0.0,4.0,577.0,1.388,9.8,1.2,2.7,8.9,3.31
587,Tyler Olson,RP,30,CLE,CHC,1,650000,650000,2020,olsonty01,...,4.0,1.0,3.0,413.0,1.512,9.1,0.9,4.5,9.1,2.04
588,Collin McHugh,SP,33,HOU,BOS,1,600000,600000,2020,mchugco01,...,35.0,0.0,24.0,3369.0,1.257,8.7,1.0,2.6,8.7,3.32
589,Jesse Hahn,RP,30,KC,KC,1,600000,600000,2020,hahnje01,...,15.0,0.0,15.0,1258.0,1.371,8.9,0.7,3.4,6.8,2.01
590,Wei-Yin Chen,RP,34,MIA,SEA,1,563500,563500,2020,chenwe02,...,25.0,2.0,18.0,4485.0,1.280,9.2,1.3,2.3,7.2,3.13

In [193]:
pitcher_final_df.to_csv("pitcher_final_df.csv", index = False)

#### Drawbacks 
1. Innings pitched is 1/3, 2/3 neglect the small difference
2. FIP and ERA + cannot be calculated